{% include '::header.html.twig' %}

{% include '::navigation.html.twig' %}

{% block stylesheets %}
    <style>
        #example tbody td{
            font-size: 12px;
        }
        .yellowLine {
            background-color: #d8d5b5 !important;
        }
        body {
            /*background-image: url('/ver3/web/images/spring.jpg');*/
            /*background-repeat: no-repeat;*/
            /*background-attachment: fixed;*/
        }
        .tableHolder {
            opacity:0.93;
        }
        .chartBox {
            opacity:0.9;
        }

        .headline {
            color:#000;
        }
        #example tbody td{
            font-size: 12px;
        }
        .yellowLine {
            background-color: #d8d5b5 !important;
        }
        input [type=text], select {
            float: left;
        }
    </style>
{% endblock %}

<body>
{% block body %}
    {% set emptyarr = {'state': '', 'ordNum': ''} %}
    {% set queryarr = app.request.query.all %}
    {% set qp = emptyarr|merge(queryarr) %}

    <div class="main">
        <h3 class="headline" style="width:1422px;">Outbound - {{ title }}</h3>
        <div style="clear:both"></div>
        <div class="tableHolder" style="width: 1400px;">
            <h4></h4>
            <form>
                <div style="width:31%;float:left;">
                    <table >
                        <tbody>
                        <tr>
                            <td>
                                State:
                            </td>
                            <td>
                                <select id="state" name="state">
                                    <option value="">ALL</option>
                                    {% for stateInfo in _states %}
                                        <option value="{{ stateInfo.code2 }}"> {{ stateInfo.title_eng }}</option>
                                    {% endfor %}

                                </select>
                                <div class="resetSelectField" onclick="resetSelectField('state');">X</div>
                            </td>
                        </tr>
                        <tr>
                          <td>
                            Limit:
                          </td>
                          <td>
                            <select id="ordNum" name="ordNum" >
                                <option value="">ALL</option>
                                <option value="100">100 Records</option>
                                <option value="500">500 Records</option>
                                <option value="1000">1000 Records</option>
                            </select>
                              <div class="resetSelectField" onclick="resetSelectField('ordNum');">X</div>
                          </td>
                        </tr>
                        <tr>
                            <td>
                                Date from:
                            </td>
                            <td>
                                <input name="from" type="text" id="datumFrom" placeholder="" onclick="$(this).datepicker();" style="width:90px;" value="{{ from }}">

                                Date to:

                                <input name="to" type="text" id="datumTo" placeholder="" onclick="$(this).datepicker();"  style="width:90px;" value="{{ to }}">
                            </td>

                        </tr>
                        <tr>
                             <td>
                                 Search number:
                             </td>
                             <td> <input style="width: 251px;" id="search_by_num"  type="text" name="phone" placeholder="Search by phone number" value="{{ phone }}"></td>
                             <td>
                         </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width:44%;float:left;">
                    <table >
                        <tbody>
                        <tr>
                            <td>
                                <button class="bigOrder GreyBtn" onclick="SearchFormSimple.search(this);" style="margin-top: 139px;cursor:pointer;width:120px;height:40px;font-size: 16px;">Search</button>
                            </td>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width:50%;float:left;">
                    <table >
                        <tbody>
                        <tr>
                            <td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div style="clear:both"></div>
        <div class="tableHolder" style="width: 1400px;">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    {% for row in _states %}
                        <td>
                            <a href="?state={{ row.code2 }}&ordNum={{ qp.ordNum }}&from={{ from }}&to={{ to }}"> {{ row.code2 }} </a>
                        </td>
                    {% endfor %}

                </tr>
                </tbody>
            </table>
        </div>
        <div style="clear:both"></div>
        <div class="tableHolder" style="padding: 10px 10px 0 10px;width: 1400px;">

            <div class="dayTable" style="width: 1400px;">
                {% autoescape %}
                    {{ _html|raw }} {# var won't be escaped #}
                {% endautoescape %}
            </div>
        </div>

        <div style="clear:both"></div>
        <div class="tableHolder" style="background-color:#fbfbfb;font-size:14px;width: 1400px;">
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            initDataTable();

            $('#datumFrom,#datumTo').datepicker({
                dateFormat: "yy-mm-dd"
            });

            getToOption('state','state');
            getToOption('ordNum','ordNum');

        });
        /***** inicializovanja data table *******/
        function initDataTable() {
            $('#example').dataTable({
                sDom: "",
                "bDestroy": true,
                "bPaginate": false,
                "bFilter": false,
                "bSortCellsTop": true,
                "aaSorting": [[0, "asc"]],
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null

                ]
            });
        }
    </script>
{% endblock %}
</body>

</html>